body {
	margin: 0;
	background-color: #fceeed;
	background-image: url("bg.png");
	background-repeat: no-repeat;
	background-position: right top;
#float {
		background-color: #cdb3d8;
		background-attachment: fixed;
		margin: 0;
		float: left;
		width: 15%;
}
.logo{
	float: left;
	border-color: black;
	border-style: dotted;
	border-style: solid;
	border-radius: 100px;
	margin-top: 25px;
	margin-right: 43px;
	margin-left: 43px;
	margin-bottom: 10px;
}
.header-name {
	text-indent: 43px;
	text-align: left;
	font-family: cursive;
	font-weight: bold;
	margin-bottom: 50px;
	letter-spacing: 2px;
}
.home {
	margin-left: 30px;
	color: black;
}
.pl {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: comic sans ms;
}
.git {
	margin-top: 250px;
	margin-left: 30px;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: comic sans ms;
}
#playlist {
	margin-left: 10px;
	margin-bottom: 40px;
}
.loc {
	float: left;
	margin-left: 17px;
	margin-right: 8px;
	margin-top: 5px;
}
.location {
	font-size: 13px;
}
.mail{
	margin-left: 17px;
	margin-right: 0px;
}
.gmail { 
	float: right;
	font-size: 9.5px;
	margin-right: 13px;
	margin-top: 7px;
	margin-bottom: 90px;
}
#content-right {
	width: 85%;
}
.rnb{
	margin: 0;
	text-indent: 220px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	font-size: 80px;
	font-family: cursive;
	font-style: italic;
	color: #cdb4db;
}
.rnb a:hover{
	color: #9C89FF;
}
.top {
	padding-top: 20px;
}
.quotes {
	text-align: center;
	text-indent: 170px;
	line-height: 5px;
	margin-bottom: 40px;
	font-style: italic;
}
#music {
	margin-top: 25px;
}
.img{
	float: left;
	border-radius: 100px;
	margin-right: 15px;
	width: 30px;
	height: 30px;
}
.artist{
	text-align: left;
	font-family: calibre;
	margin-top: 6px;
	color: #341179;
}
.artist1{
	text-align: left;
	font-family: calibre;
	letter-spacing: -1px;
	margin-top: 6px;
	color: #341179;
}
.huy1{
	color: black;
	line-height: 20px;
}